.header-toolbar{

    .title{
        font-weight:bold;
    }
}
.circle-text{
    border-radius: 50%;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    padding: 6px;
    text-align: center;
    font-size: 12px;
}
